{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set is_empty = not data.content and not data.name and not data.email %}

<form hx-post="{{ h.url_for('dga_dataset.ask_question', package_id=package_id or data.package_id) }}" hx-target="this" hx-swap="outerHTML" hx-trigger="submit, change">
    {{ form.markdown('content', id='field-content', label=_('What would you like to ask about this dataset?'), value=data.content, error=errors.content, placeholder=_('Ask a question or report a problem about this dataset'), is_required=true) }}
    {{ form.input('name', id='field-name', label=_('Your name'), placeholder=_('Dorothy Hill'), value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}
    {{ form.input('email', id='field-email', label=_('Your email'), placeholder=_('dorothyhill@gmail.com'), value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }}

    {{ form.hidden('package_id', package_id or data.package_id) }}

    <div class="form-buttons">
        <button class="btn btn-light dga-btn-clear" type="submit" name="refresh" value="1" {{ 'disabled' if is_empty }}>{{ _("Clear") }}</button>
        <button class="btn btn-primary dga-btn-submit" type="submit" name="submit" value="1" data-module="dga-send-button">{{ _("Send") }}</button>
    </div>
</form>
