<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What\'s a view?') }}</h2>
  <div class="module-content">
    <p>
        {{ _('A view is a representation of the data held against a resource.
            Functionality allows you to generate previews of your resource files in various formats,
            including tables, maps, images, office documents, pigment files, and websites.
            These previews can be customized to optimize the presentation of your data.
            While the view is optimized for presentation, the original resource file remains editable.') }}
    </p>
  </div>
</section>
