{% ckan_extends %}

{% block image %}
    <div class="image">
        <a href="{{ url }}">
            <img
                src="{{ organization.image_display_url or h.dga_get_organization_image_url(organization.id) or h.url_for_static('/base/images/placeholder-organization.png') }}"
                width="200" alt="{{ organization.name }}"/>
        </a>
    </div>
{% endblock %}
{% block heading %}
    <h1 class="heading"><a href="{{ url }}"
                           class="title">{{ organization.title or organization.name }}</a>
        {% if organization.state == 'deleted' %}
            [{{ _('Deleted') }}]
        {% endif %}
    </h1>
{% endblock %}
{% block description %}
    {% if organization.description %}
        <p class="description my-1">
            {{ h.markdown_extract(organization.description, 180) }}
        </p>
    {% else %}
        <p class="empty my-1">{{ h.humanize_entity_type('organization', organization.type, 'no description') or _('There is no description for this organisation') }}</p>
    {% endif %}
    <p class="read-more mt-1">
        {% link_for _('View organisation details'), named_route=organization.type ~ '.about', id=organization.name %}
    </p>
{% endblock %}

{% block nums %}
    <section class="stats module module-narrow module-shallow">
        <div class="stats-wrapper">
            <div class="stat-box">
                <h2 class="stat-heading">{{ h.humanize_entity_type('package', dataset_type, 'facet label') or _('Datasets:') }}</h2>
                <span
                    class="stat-number">{{ h.SI_number_span(organization.package_count) }}</span>
            </div>
        </div>
    </section>
{% endblock %}

{% block follow %}
{% endblock %}
