{% ckan_extends %}

{% block package_item_content %}
    <div class="dataset-content">
        <!-- Badges Section -->
        {% if package.private or package.state == "draft" or package.archived %}
            <div class="dataset-badges">
                {% if package.private %}
                    {% snippet "package/snippets/dataset_private_badge.html" %}
                {% endif %}
                {% if package.state == "draft" %}
                    {% snippet "package/snippets/dataset_draft_badge.html" %}
                {% endif %}
                {% if package.archived %}
                    {% snippet "package/snippets/dataset_archived_badge.html" %}
                {% endif %}
            </div>
        {% endif %}

        <!-- Dataset Title -->
        <h2 class="dataset-title">
          <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}"
            class="dataset-title-link"
            aria-label="{{ _('Navigate to dataset: {title}').format(title=title|truncate(80)) }}">
            {{ title|truncate(80) }}
          </a>
        </h2>

        <!-- Organization -->
        {% if package.organization %}
          <p class="dataset-organization">{{ h.organization_link(package.organization) }}</p>
        {% endif %}


        <!-- Description -->
        <div class="dataset-description">
            {{ notes }}
        </div>

        <!-- Metadata and Resources -->
        <div class="dataset-meta">
            <p class="dataset-meta-updated">
                {{ _("Dataset updated") }}: {{ h.render_datetime(package.metadata_modified, date_format="%d/%m/%Y") }}
            </p>

            {% if package.resources and not hide_resources %}
                <ul class="dataset-resources list-unstyled">
                    {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                        <li>
                            <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="resource-format">
                                <span class="dataset-resources-format">{{ resource }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock package_item_content %}
