@use "variables" as v;

.wrapper {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    background-color: transparent;

    p.extra {
        color: v.$dga-color-graphite-gray;
    }
}
