{% ckan_extends %}

{% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}

{% macro section(title, links=[]) %}
    <div class="col-6 col-md-3 col-sm-12">
        <section class="row">
            <nav role="navigation">
                <h6>{{ _(title) }}</h6>
                <ul class="nav">
                    {% for link in links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ link.href }}">
                                {{ link.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    </div>
{% endmacro %}

{% block footer_content %}
    <div class="scroll-to-top">
        <button data-module="dga-scroll-to-top" title="Go to top" class="btn rounded-circle">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>

    <div class="row footer-menu-top">
        {# Fetch menu items by Drupal API #}
        {% for menu_data in [
            {"label": "Data.gov.au", "key": "site"},
            {"label": "Publishers", "key": "publishers"},
            {"label": "Developers", "key": "developers"}
        ] %}
            {% set menu_items = h.dga_get_menu(menu_data.key) %}
            {% if menu_items %}
                {{ section(menu_data.label, menu_items) }}
            {% endif %}
        {% endfor %}
    </div>

    {% set footer_menu = h.dga_get_menu('footer') %}
    {% if footer_menu %}
        <div class="row footer-menu-bottom">
            <nav role="navigation">
                <ul class="nav flex-row">
                    {% for footer_item in footer_menu %}
                        <li class="nav-item">
                            <a href="{{ footer_item.href }}" class="nav-link">
                                {{ footer_item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}

    <div class="footer-copyright">
        <p>
            © Commonwealth of Australia.
            With the exception of the Commonwealth Coat of Arms
            and where otherwise noted, this work is licensed
            under the CC BY 4.0 license.
        </p>
    </div>

{% endblock %}
