@use "../variables" as v;
@use "../mixins" as m;

.search-tweaks--did-you-mean {
    width: 100%;
    color: v.$dga-color-graphite-gray;
    font-size: 1rem;
    line-height: 1.8;

    a {
        color: v.$dga-color-skobeloff;
        font-weight: 600;
    }

    @include m.breakpoint(lg) {
        margin-bottom: -1rem;
    }
}
